* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: azure;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: white;
  font-weight: 900;
}

h2 {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

p {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  color: black;
}

h4, .asideNosotros {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
}

/*titulo de index*/
.tituloSection {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h3, h5 {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: start;
}

/* iframe de index*/
.iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 40px;
}

/* card de index*/
.articleCard {
  background-color: rgba(128, 128, 128, 0.794);
  margin: 100px;
  padding: 100px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 5px;
  width: 200px;
  height: 300px;
  margin: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card:hover {
  border: solid 5px;
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 10px 15px darkslategrey;
          box-shadow: 10px 15px darkslategrey;
}

.card-img {
  height: 90%;
  width: 100%;
}

.card-medida {
  width: 100%;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tituloCard {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  text-align: center;
  color: black;
}

/*fin de card*/
.slide-fwd-top p {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
}

.articleNosotros {
  margin: 100px;
}

.formulario {
  background-color: dimgray;
  background-size: cover;
  padding: 10px;
  position: relative;
  color: black;
  text-align: left;
  margin: 200px;
}

h4 {
  text-align: center;
}

/*header y footer*/
header, footer {
  background-color: black;
  width: 100%;
  color: white;
}

.carrousel1, .carrousel2 {
  margin: 100px;
}

.tituloInspiracion {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

aside {
  margin: 100px;
}

header {
  background-color: black;
  width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 5px;
  width: 200px;
  height: 300px;
  margin: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card:hover {
  border: solid 5px;
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 10px 15px darkslategrey;
          box-shadow: 10px 15px darkslategrey;
}

.card .card:hover .card-img {
  height: 90%;
  width: 100%;
}

.card .card:hover .card-img .card-medida {
  width: 100%;
  height: 100%;
}

.card .card:hover .card-img .card-medida .tituloCard {
  font-style: normal;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  text-align: center;
  color: black;
}

/*fin de card*/
footer {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding: 30px;
}

footer a:link {
  color: gray;
}

.formulario {
  background-color: dimgray;
  background-size: cover;
  padding: 10px;
  position: relative;
  color: black;
  text-align: left;
  margin: 200px;
}

/*animista*/
.slide-fwd-top {
  -webkit-animation: slide-fwd-top 0.45s;
  animation: slide-fwd-top 0.45s;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-28 2:4:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
    transform: translateZ(160px) translateY(-100px);
  }
}

@keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
    transform: translateZ(160px) translateY(-100px);
  }
}

@media (max-width: 648px) {
  .tituloCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=estilo.css.map */