.caja-card{
  

.card{
  border: solid  6px;
  border-radius: 10px;
  color: black;
  width: 100%;
  
  
.card-img-top{
  width: 100%;
  height:200px ;
}
  .card:hover {
    border: solid 6px;  
    height: auto;
    box-shadow: 10px 10px darkslategrey;



  }
  
}
}
