.grid{
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
    grid-template-rows: repeat(2, 1fr) ;
    gap: 50px;
    width: 100%;
    
    grid-template-areas: 
                        "foto1 foto2"
                        "foto3 foto4";
    align-items: center;
    align-content: center;
    


}
.foto1{
    grid-area: foto1;
    width: 70%;
    justify-self: center;
}

.foto2{
    grid-area: foto2;
    width: 70%;
    justify-self: center;
}


.foto3{
    grid-area: foto3;
    width: 70%;
    justify-self: center;
}

.foto4{
    grid-area: foto4;
    width: 70%;
    justify-self: center;
}

