
    
   
header {
  background-color: $color-menufooter;
  width: 100%;
  display: flex;
  justify-content: space-around;
  



  .logoCaja{
    width: 200px;
    height: 200px;
    .logo{
      width: 100%;
      height: auto;
    }
  }





   
      
  .nav-link {

    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 10px;
    color: white;
    font-weight: 600;

    
    
  }
  nav li {

    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    box-shadow: 1opx color black;
    
    
  }



  nav li:hover {

    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    box-shadow: 1px color black;
    
    
  }


}
    
  
    
    
    
    

    
    